.hourItem input[type=radio]+label{
    padding: 5px !important;
    cursor: pointer;
    color: white;
    border-radius: 4px;
    background-color: cornflowerblue;
    text-align: center;
    box-shadow: 10px 10px;
    margin: 9%;
    box-shadow: #224e8e 1px 1px 3px 1px;
    min-width: 60px;
}

.hourItem input[type=radio]:checked+label, .hourItem input[type=radio]:hover+label{
  background-color: white;
  color: cornflowerblue;
}

 .hourItem input[type=radio]{
    -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  }

.submitBtn{
  color: white;
  background-color:black ;
  border-radius: 3px;
  border: none;
  margin-top: 2%;
  padding: 2%;
  margin-left: 30%;
  box-shadow: black 2px 3px 2px;
}

.apptForm, .workouts, .hours{
  margin-top: 3%;
}

  /* creates the scroll bar */
  .hours{
    overflow-x: auto;
    display: flex;
    padding: 0;
  
  }
  /* width */
  ::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:black;
    border-radius: 10px;
  }
  
  
  /* creates the space between the hours */
  .inputOfHour{
    margin-left: 5%;
  }
  

  

  .filterDateBtn{
    border-radius: 5px;
    border: none;
    background-color: cornflowerblue;
    color: white;
  }
  
  
  /* form modal- vacations page */
  .modalDayPicker rdp-cell [type=button], .modalDayPicker [type=reset], .modalDayPicker button,
  #modalForm .button,  #modalForm button{
    font-size: 18px !important;
  }
  
  
  
  .buttons{
    margin-top: 8%;
  }
  
  .dateListItem{
    font-size: 13px;
    color: rgb(98, 97, 97);
    font-weight: 600;
  }
  
  #day-grid-0{
    margin: auto;
    text-align: center;
  }
  
  .rdp-day_selected, .rdp-button:hover:not([disabled]):not(.rdp-day_selected) {
      border-radius: 20px;
      background-color: rgb(81, 156, 255);
      color: white;
    }
  
    .rdp-day_today:not(.rdp-day_outside) {
      font-weight: bold;
    }
  
    .rdp-caption_label, .rdp-nav{
      text-align: center;
    }
  
    .rdp-nav_icon{
      rotate: 180deg;
    }
    .rdp-caption{
      display: inline;
    }


    /* the appts page */
    .apptListItem{
      border: 2px solid black;
      border-radius: 4px;
      display: flex; 
      flex-direction: column;
  
      margin-bottom: 5%;
      padding: 4px;
     
      align-content: center;
      justify-content: center;
      align-items: center;
      max-width: 130px;
      margin: 14px;
      box-shadow: 0 0 5px 2px;
  }

  .apptInfoSpan{
    font-size: 14px;
    font-weight: 500;
    margin-top: 10%;
}

.apptTime, .apptTrainee{
  font-size: 13px;
}

/* .apptTime{
  text-align: center;
} */

.button{
  border: none;
  background: none;
  color: cornflowerblue;
  font-size: 11px;
  font-weight: 500;

}
  
    @media screen and (min-width: 501px) {
      .dayPicker{
        margin: auto;
        width: fit-content;
      }
      /* the date input for the appts page */
      .dateInputGroup{
        width: 40% !important;
      }
    }
  
    @media screen and (max-width: 500px) {
     .dayPicker{
      margin-top: 30%;
     }
     .apptInfoSpan{
      font-size: 12px;
  }
    }    