.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgb(237, 247, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>") !important;
  }

  
  
  .okBtn{
    border: none;
    background-color: rgb(166, 0, 169);
    color: white;
  }

  .cancelBtn{
    border: none;
    background-color: cornflowerblue;
    color: white;
  }

  
  
  /* the spinner */
  .loading-fallback{
    color:rgb(40, 129, 244);
    font-weight: 600;
    text-align: center;
  }
  
 
  
  /* .btn-close{
    margin-right: 3% !important;
  } */

  /* .box{
    margin-top: 17%;
  } */
  
  .adjacentIcon{
    height: auto;
    cursor: pointer;
  }
  
  .generalBtn{
    background-color: rgb(40, 129, 244);
    padding: 6px;
    border: none;
    color: white;
    border-radius: 0.3rem;
}
  .errorPageMessage{
    font-size: 23px;
    color: red;
    font-weight: 600;
    direction: ltr;
    text-align: center;
    margin-top: 15%;
  }
  .center {
    margin: auto;
  }

  .homeLinksBtn{
    background-color: rgb(40, 129, 244)
  }

  .buttonGroup{
    margin-top: 5%;
    margin-left: 30%;
    
  }

  .errorMessage{
    font-size: 13px;
    color: red;
    font-weight: 600;
      direction: ltr;
  }

  .message{
    font-size: 13px;
    color: rgb(166, 0, 169);
    font-weight: 600;
  }

   
    .input-group-text{
      border: none;
      background-color: inherit;
    }


    .forgotPassLink{
      text-decoration: none;
      font-size: 12px;
      font-weight: 600;
      margin-left: 3%;
    }
  
    
  

    /* The layouts components */
    /* the outlet */
    .contentLayer{
      margin-top: 5%;
      font-size: 15px;
  
    }

    .accountLayout{
      margin-top: 7%;
    }

    .navLayer{
      margin-left: 5%;
      color: rgb(40, 129, 244);
    }
  
    

    
    

  .mainBody{
      margin-top: 12%;
      margin-left: 5%;
      margin-bottom: 30%;
    }

    
    .button{
      background-color: rgb(40, 129, 244);
      padding: 8px;
      border: none;
      color: white;
      border-radius: 0.3rem;
      font-size: 20px;
      font-weight: 800;
  
  }
  
  .modal{
    padding-left: 0px !important;
  }
  
   
   

    @media screen and (max-width: 500px) {
      .body {
        margin-top: 29%;
        margin-bottom: 30%;
      }

      .mainBody{
        margin-top: 29%;

      }

      .accountNavLink{
        font-size: 14px;
      }

      .errorPageMessage{
        margin-top: 35%;
      }
    
  
      
    }