.cancelVacationBtn{
    border: none;
    box-shadow: 2px 2px gray;
    font-size: 13px;
    font-weight: 500;
    background-color: rgb(17, 1, 1);
    color: white;
}


.editVacationBtn{
    background-color: rgb(40, 129, 244);
    padding: 6px;
    border: none;
    color: white;
    border-radius: 0.3rem;
}



/* @media screen and (max-width: 500px){
    .InputGroup{
        display: ruby-text;
    
    }
} */

@media screen and (min-width: 501px){
    .vacationListItem{
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
}